{% extends "base.html" %}
{% load static %}
{% block title %}
Confirm Order
{% endblock %}
{% block content %}
<h1>Order</h1>
<h2>Cart</h2>
<table>
	<thead>
		<tr>
			<th>Product</th>
			<th>Quantity</th>
			<th>Unit price</th>
			<th>Price</th>
		</tr>
	</thead>
    <tbody>
	{% for item in cart %}
	{% with product=item.product %}
	    <tr>
			<td>{{ product.name }}</td>
			<td>{{ item.quantity }}</td>
			<td>${{ item.price }}</td>
			<td>${{ item.total_price }}</td>
		</tr>
		{% endwith %}
		{% endfor %}
		<tr>
			<td>Total</td>
			<td></td>
			<td>${{ cart.get_total_price }}</td>
		</tr>
    </tbody>
</table>
<h2>Customer</h2>
<p>
<table>
	<tbody>
	<tr>
	<td> Name : </td> <td> {{ order.customer.name }}  </td>
	</tr>
	<tr>
	<td>Phone Number:</td> <td> {{ order.customer.phone_number }}</td>
	</tr>
	<tr>
	<td> Address:</td> <td>{{ order.customer.address }}</td>
	</tr>
	</tbody>
	</table
</p>

<h2>Amount Paying </h2>

{{order.paid_amount}}

<p><a href="{% url 'order:create-order' %}" class="btn">CONFIRM</a></p>

{% endblock %}